main .cash-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

main .cash-input-table {
  margin: 0 0 2rem 0;
  width: 400px;
}

main .cash-output-table {
  width: 400px;
}

table tbody tr td {
  padding: 0.3rem;
  text-align: center;
}

.cash-input-table input {
  width: 60px;
  text-align: center;
  font-size: 16px;
  border: none;
}

.cash-output-table input {
  width: 100px;
  text-align: center;
  font-size: 16px;
  border: none;
}

table,
th,
td {
  border: 1px solid black;
  border-collapse: collapse;
}

.name-input {
  width: 180px;
  height: 20px;
  margin: 0 0 2rem 0;
}

div .over-or-short-reason-title {
  font-weight: bold;
  margin: 1.5rem 0 0 0;
}

div .over-or-short-reason-textarea {
  font-size: 30px;
  width: 400px;
}
